@model Web.Models.Docs.DocsViewModel

@{
    ViewData["Title"] = "ImgBot - Docs";
}

<div class="docs-container">
    <div class="docs-hero">
        <a class="home" href="/"><img alt="ImgBot" src="~/images/imgbot.svg" /></a>
        <a class="install" href="https://github.com/marketplace/imgbot">Install now</a>
    </div>
    <nav class="docs-sidebar">
        <ul>
            @foreach(var docSection in Model.DocSections)
            {
                <li><a href="#@docSection.Slug">@docSection.Title</a></li>
            }
        </ul>
    </nav>

    <div class="docs-content">
        @foreach (var docSection in Model.DocSections.Select((data, index) => new { data, index }))
        {
            <div class="article">
                @if(@docSection.index == 0)
                {
                    <h1 id="@docSection.data.Slug">@docSection.data.Title</h1>
                }
                else
                {
                    <h2><a href="#@docSection.data.Slug" id="@docSection.data.Slug">@docSection.data.Title</a></h2>
                }

                @Html.Raw(docSection.data.Html)
            </div>
        }
    </div>
</div>